.col-md-4 {
    display: flex;
}
.card--sc {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card--sc:hover{
    background: #cc1616;
    transition: 0.3s;
    color: #fff;
}